# next.js build output
.next
tsconfig.tsbuildinfo
# dotenv environment variables file 
.env
.env.build
# Dependency directories
node_modules/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.vercel

.vscode
*.code-workspace
